<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
    	<iways_paypalinstalmentsbanners>
        	<show_on_product_page>
                <banner_color>blue</banner_color>
            </show_on_product_page>
        	<show_on_cart_page>
                <banner_color>blue</banner_color>
            </show_on_cart_page>
        	<show_on_checkout>
                <banner_color>blue</banner_color>
            </show_on_checkout>
            <show_on_footer>
                <banner_color>white</banner_color>
            </show_on_footer>
        </iways_paypalinstalmentsbanners>
        <iways_paypalplus>
            <api>
                <client_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </api>
        </iways_paypalplus>
    </default>
</config>
